.login{
    align-content: center;
    justify-content: center;
    align-items: center;

}
ion-item{
    --background: #ffffff;
    --color: rgb(168, 168, 168);
    
}
ion-button{
    --background: #062f77;
}